[submodule "extern/entt"]
	path = extern/entt
	url = https://github.com/skypjack/entt
[submodule "extern/GSL"]
	path = extern/GSL
	url = https://github.com/microsoft/GSL
[submodule "dist/shared-modules"]
	path = dist/shared-modules
	url = https://github.com/flathub/shared-modules
